button{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(226, 220, 220);
}
input{
    width: 260px;
    height: 35px;
    border-radius: 5px;
    text-align: right;
    font-size: 30px;
}
.abc{
    padding: 10%;
    background-color: rgb(101, 96, 96);
}